<div *ngIf="author" class="container">
  <form id="updateauthor">
    <div class="form-group row">
      <label class="col-form-label col-sm-3 text-right">First name</label>
      <input [(ngModel)]="author.firstName" placeholder="{{author.firstName}}" name="firstName" class="form-control col-sm-6" type="text">
    </div>
    <div class="form-group row">
      <label class="col-form-label col-sm-3 text-right">Last name</label>
      <input [(ngModel)]="author.lastName" placeholder="{{author.lastName}}" name="lastName" class="form-control col-sm-6" type="text">
    </div>
    <div class="form-group row">
      <label class="col-form-label col-sm-3 text-right">Email</label>
      <input [(ngModel)]="author.email" placeholder="{{author.email}}" name="email" class="form-control col-sm-6" type="text">
    </div>
    <div class="form-group row">
      <label class="col-form-label col-sm-3 text-right">Username</label>
      <input [(ngModel)]="author.username" placeholder="{{author.username}}" name="username" class="form-control col-sm-6" type="text">
    </div>
    <div class="form-group row">
      <label class="col-form-label col-sm-3 text-right">Password</label>
      <input [(ngModel)]="author.password" placeholder="{{author.password}}" name="password" class="form-control col-sm-6" type="text">
    </div>
    <div class="form-group row">
      <label class="col-form-label col-sm-3">Validate</label>
      <input [(ngModel)]="author.validated" name="validated" class="form-control col-sm-6" type="checkbox">
    </div>
    <button (click)="goBack()" class="btn btn-outline-danger">Abort Update</button>
    <button (click)="save()" class="btn btn-outline-success ml-4">Save
    </button>
  </form>
</div>
