<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand text-warning ml-5" routerLink="/index" routerLinkActive="active">Symposium</a>
    <button aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler" data-target="#navbarNavAltMarkup" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav ml-5">
            <a class="nav-item nav-link" routerLink="/index" routerLinkActive="active">Conferences</a>
            <li class="nav-item dropdown">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                   href="#" id="navbarDropdown3" role="button">Dashboards</a>
                <div aria-labelledby="navbarDropdown3" class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/dashboard/author" routerLinkActive="active">Author dashboard</a>
                    <a class="dropdown-item" routerLink="/dashboard/reviewer-bidding" routerLinkActive="active">Reviewer - bidding</a>
                    <a class="dropdown-item" routerLink="/dashboard/reviewer-evaluation" routerLinkActive="active">Reviewer - evaluation</a>
                    <a class="dropdown-item" routerLink="/chair/list-personnel" routerLinkActive="active">Chair - manage authors</a>
                </div>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto" style="margin-right: 15vw;">
            <a class="nav-item nav-link" routerLink="/about" routerLinkActive="active">About</a>
            <a class="nav-item nav-link" routerLink="/login" routerLinkActive="active">Login</a>
        </ul>
    </div>
</nav>
