<div class="jumbotron" style="margin-top: -10vh;">
    <h1 class="text-warning mb-5" style="padding-left: 15vw;"><em>Reviewer's dashboard</em></h1>
    <h6 class="mt-5 mb-3 mb-lg-n5 ml-5">It's evaluation time. Please decide on your assigned papers.</h6>
</div>

<div *ngFor="let prop of this.dataSharing.toBeEvaluatedProposals" class="container">

    <div class="card">
        <div class="card-body">
            <div class="form-group row mb-0">
                <label class="col-sm-3 col-form-label">Title</label>
                <label class="col-sm-6 col-form-label">{{prop.proposalTitle}}</label>
            </div>
            <div class="form-group row mb-0">
                <label class="col-sm-3 col-form-label">Topics</label>
                <label class="col-sm-6 col-form-label">{{prop.topics}}</label>
            </div>
            <div class="form-group row mb-0">
                <label class="col-sm-3 col-form-label">Keywords</label>
                <label class="col-sm-6 col-form-label">{{prop.keywords}}</label>
            </div>
            <div class="form-group row mb-0">
                <label class="col-sm-3 col-form-label">Full paper</label>
                <label class="col-sm-6 col-form-label"><a download
                                                          href="/files/proposals/{{prop.fullPaper}}">{{prop.fullPaper}}</a></label>
            </div>
        </div>

        <div class="card-footer">
            <form name="bid">
                <div class="form-group row mb-0">
                    <label class="col-sm-2 col-form-label mb-3">Your evaluation:</label>
                    <div class="col-sm-10 col-form-label">
                        <div class="form-check form-check-inline">
                            <input [(ngModel)]="prop.radiovalue" class="form-check-input" name="would{{prop.id}}"
                                   type="radio" value=3/>
                            <label class="form-check-label">strong accept</label>
                        </div>
                        <div class="form-check form-check-inline ml-3">
                            <input [(ngModel)]="prop.radiovalue" class="form-check-input" name="would-{{prop.id}}"
                                   type="radio" value=2/>
                            <label class="form-check-label">accept</label>
                        </div>
                        <div class="form-check form-check-inline ml-3">
                            <input [(ngModel)]="prop.radiovalue" class="form-check-input" name="would-{{prop.id}}"
                                   type="radio" value=1/>
                            <label class="form-check-label">weak accept</label>
                        </div>
                        <div class="form-check form-check-inline ml-3">
                            <input [(ngModel)]="prop.radiovalue" class="form-check-input" name="would-{{prop.id}}"
                                   type="radio" value=0/>
                            <label class="form-check-label">borderline</label>
                        </div>
                        <div class="form-check form-check-inline ml-3">
                            <input [(ngModel)]="prop.radiovalue" class="form-check-input" name="would-{{prop.id}}"
                                   type="radio" value=-1/>
                            <label class="form-check-label">weak reject</label>
                        </div>
                        <div class="form-check form-check-inline ml-3">
                            <input [(ngModel)]="prop.radiovalue" class="form-check-input" name="would-{{prop.id}}"
                                   type="radio" value=-2/>
                            <label class="form-check-label">reject</label>
                        </div>
                        <div class="form-check form-check-inline ml-3">
                            <input [(ngModel)]="prop.radiovalue" class="form-check-input" name="would-{{prop.id}}"
                                   type="radio" value=-3/>
                            <label class="form-check-label">strong reject</label>
                        </div>
                    </div>
                </div>
                <button (click)="submit(prop)" class="btn btn-outline-warning w-100">Submit</button>
            </form>
        </div>

    </div>

    <br><br>

</div>
