<div class="jumbotron" style="margin-top: -10vh;">
    <h1 class="text-warning mb-5" style="padding-left: 15vw;"><em>Listener's dashboard</em></h1>
    <h6 class="mt-5 mb-3 mb-lg-n5 ml-5">Please select the conferences you want to attend.</h6>
</div>

<div *ngFor="let proposal of this.dataSharing.acceptedProposals">

    <div class="card">
        <div class="card-header">
            {{proposal.proposalTitle}}
        </div>
        <div class="card-body">
            <div class="form-group row mb-0">
                <label class="col-sm-3 col-form-label">Topics:</label>
                <label class="col-sm-6 col-form-label">{{proposal.topics}}</label>
            </div>
            <div class="form-group row mb-0">
                <label class="col-sm-3 col-form-label">Authors:</label>
                <label class="col-sm-6 col-form-label">{{proposal.authors}}</label>
            </div>

        </div>

        <div class="card-footer">
            <button (click)="validate(proposal.id)" class="btn btn-outline-success ml-4">Attend</button>
        </div>

    </div>

</div>
