<div class="jumbotron" style="margin-top: -10vh;">
    <h1 class="text-warning mb-5" style="padding-left: 15vw;"><em>Author's dashboard</em></h1>
    <div class="form-group row mt-5 mb-lg-n5 pb-0">
        <label class="col-sm-3 col-form-label text-right" for="lulz">Select upload type</label>
        <select id='lulz' (change)="changeForm()" [(ngModel)]="submission" class="col-sm-6 form-control">
            <option [ngValue]="true" selected=selected>Abstract submission</option>
            <option [ngValue]="false">Upload update</option>
        </select>
    </div>
</div>

<div class="container">

    <form *ngIf="submission" id="abstract">
        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-right" for="title">Title</label>
            <input #title class="form-control col-sm-6" id="title" type="text">
        </div>
        <h6 class="mt-5 mb-3">Please provide meta-information.</h6>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-right" for="keywords">Keywords</label>
            <input #keywords class="form-control col-sm-6" id="keywords" type="email">
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-right" for="topics">Topics</label>
            <input #topics class="form-control col-sm-6" id="topics" type="text">
        </div>
        <h6 class="mt-5">Select the file to be uploaded from your device.</h6>
        <h6 class="mb-3">It must have the extension .docx or .ppt and it must be less than 25MB.</h6>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-right" for="file">File</label>
            <input [(ngModel)]="file" accept=".pdf,.ppt" class="col-sm-3 form-control-file" id="file" type="file"
                   name="file">
        </div>
        <h6 class="mt-5 mb-3">Please input the usernames (divided by spaces) of the authors of the proposal.</h6>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-right" for="authors">Authors</label>
            <input #authors class="form-control col-sm-6" id="authors" type="text">
        </div>
        <h6 class="mt-5 mb-3">Please input the username of the presenter.</h6>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-right" for="presenter">Presenter</label>
            <input #presenter class="col-sm-6" id="presenter" type="text">
        </div>
        <button (click)="saveAbstract(title.value,keywords.value,topics.value,authors.value,presenter.value)"
                class="btn btn-outline-success ml-4">Submit
            proposal
        </button>

        <hr>


        <div *ngIf="isReferenceSucesfullySubmitted==true">
            <button (click)="newProposal()"
                    class="p-3 mb-2 bg-success text-white text-center rounded">Click here to add another proposal
            </button>
            <div class="p-3 mb-2 bg-success text-white text-center rounded">Sucessfully added proposal</div>

        </div>
    </form>


    <form *ngIf="submission == false" id="fullpaper">
        <h6 class="mt-5">Select the file to be uploaded from your device.</h6>
        <h6 class="mb-3">It must have the extension .docx or .ppt and it must be less than 25MB.</h6>
        <div class="form-group row">
            <label class="col-form-label col-sm-3 text-right">Paper type</label>
            <select [(ngModel)]="abstract" class="form-control col-sm-6" id="type" name="type">
                <option [ngValue]="true" selected=selected>Abstract paper</option>
                <option [ngValue]="false">Full paper</option>
            </select>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-right" for="file2">File</label>
            <input [(ngModel)]="file" accept=".pdf,.ppt" class="col-sm-3 form-control-file" id="file2" type="file"
                   name="file">
        </div>
        <button (click)="saveUpdate()" class="btn btn-outline-success ml-4">Upload update</button>
    </form>
</div>
