<div class="container mb-5 mt-0"><p>There are <strong>{{authors.length}}</strong> authors and
    <strong>{{reviewers.length}}</strong> reviewers in this conference. Check them
    out below:</p>
</div>
<h2 class="mb-5" style="margin-left: 10vw;"><strong>Authors</strong> of the conference:</h2>
<div *ngFor="let author of authors" class="container">

    <div class="card">

        <div class="card-header">
            {{author.firstName}}, {{author.lastName | uppercase}}
        </div>

        <div class="card-body">
            <div class="form-group row mb-0">
                <label class="col-sm-3 col-form-label">Email</label>
                <label class="col-sm-6 col-form-label">{{author.email}}</label>
            </div>
            <div class="form-group row mb-0">
                <label class="col-sm-3 col-form-label">Username</label>
                <label class="col-sm-6 col-form-label">{{author.username}}</label>
            </div>
            <div class="form-group row mb-0">
                <label class="col-sm-3 col-form-label">Password</label>
                <label class="col-sm-6 col-form-label">{{author.password}}</label>
            </div>
        </div>

        <div class="card-footer">
            <button (click)="update(author.id)" class="btn btn-outline-info">Update</button>
            <button *ngIf="!author.validated" (click)="validate(author)" class="btn btn-outline-success ml-4">Validate</button>
            <button (click)="delete(author.id)" class="btn btn-outline-danger ml-4">Remove</button>
        </div>

    </div>

    <br><br><br>
</div>
<h2 class="mb-5 mt-3" style="margin-left: 10vw;"><strong>Reviewers</strong> of the conference:</h2>
<div *ngFor="let rev of reviewers" class="container">

    <div class="card">

        <div class="card-header">
            {{rev.firstName}}, {{rev.lastName | uppercase}}
        </div>

        <div class="card-body">
            <div class="form-group row mb-0">
                <label class="col-sm-3 col-form-label">Email</label>
                <label class="col-sm-6 col-form-label">{{rev.email}}</label>
            </div>
            <div class="form-group row mb-0">
                <label class="col-sm-3 col-form-label">Username</label>
                <label class="col-sm-6 col-form-label">{{rev.username}}</label>
            </div>
            <div class="form-group row mb-0">
                <label class="col-sm-3 col-form-label">Affiliation</label>
                <label class="col-sm-6 col-form-label">{{rev.affiliation}}</label>
            </div>
            <div class="form-group row mb-0">
                <label class="col-sm-3 col-form-label">Website</label>
                <label class="col-sm-6 col-form-label">{{rev.website}}</label>
            </div>
        </div>

        <div class="card-footer">
            <button *ngIf="!rev.validated" (click)="validate(rev)" class="btn btn-outline-success ml-4">Validate</button>
        </div>

    </div>

    <br><br>

</div>
