<div class="jumbotron" style="margin-top: -10vh;">
    <h1 class="text-warning mb-5" style="padding-left: 15vw;"><em>Reviewer's dashboard</em></h1>
    <h6 class="mt-5 mb-3 mb-lg-n5 ml-5">It's bidding time. Please decide on the proposals.</h6>
</div>

<div *ngFor="let prop of this.dataSharing.submittedProposals" class="container">

    <div class="card">
        <div class="card-body">
            <div class="form-group row mb-0">
                <label class="col-sm-3 col-form-label">Title</label>
                <label class="col-sm-6 col-form-label">{{prop.proposalTitle}}</label>
            </div>
            <div class="form-group row mb-0">
                <label class="col-sm-3 col-form-label">Topics</label>
                <label class="col-sm-6 col-form-label">{{prop.topics}}</label>
            </div>
            <div class="form-group row mb-0">
                <label class="col-sm-3 col-form-label">Keywords</label>
                <label class="col-sm-6 col-form-label">{{prop.keywords}}</label>
            </div>
            <div class="form-group row mb-0">
                <label class="col-sm-3 col-form-label">Abstract paper</label>
                <label class="col-sm-6 col-form-label"><a download
                                                          href="/files/proposals/{{prop.abstractPaper}}">{{prop.abstractPaper}}</a></label>
            </div>
        </div>

        <div class="card-footer">
            <form name="bid">
                <div class="form-group row mb-0">
                    <label class="col-sm-3 col-form-label">Would evaluate?</label>
                    <div class="col-sm-6 col-form-label">
                        <div class="form-check form-check-inline">
                            <input [(ngModel)]="prop.radiovalue" value="yes" class="form-check-input"
                                   name="would{{prop.id}}" type="radio"/>
                            <label class="form-check-label">YES</label>
                        </div>
                        <div class="form-check form-check-inline ml-5">
                            <input [(ngModel)]="prop.radiovalue" value="no" class="form-check-input"
                                   name="would-{{prop.id}}"
                                   type="radio"/>
                            <label class="form-check-label">NO</label>
                        </div>
                    </div>
                </div>
                <button (click)="submit(prop)" class="btn btn-outline-warning w-100">Submit</button>
            </form>
        </div>
    </div>
    <br><br>
</div>
