<div class="container">
    <form id="newconference">
        <h5 class="mb-5 text-warning">It has never been this easy to launch a conference! <br>Just fill in these fields and we will take care of the rest.</h5>
        <h6 class="mt-5 mb-3">Please provide some basic information, more can be added later.</h6>
        <div class="form-group row">
            <label for="name" class="col-sm-3 col-form-label text-right">Name</label>
            <input #name type="text" class="form-control col-sm-6" id="name">
        </div>
        <div class="form-group row">
            <label for="callForPapers" class="col-sm-3 col-form-label text-right">Call for papers</label>
            <textarea rows="5" #callForPapers class="form-control col-sm-6" id="callForPapers"></textarea>
        </div>
        <h6 class="mt-5 mb-3">Please provide some guideline dates, they can be changed later.</h6>
        <div class="form-group row">
            <label for="start" class="col-sm-3 col-form-label text-right">Starting time</label>
            <input id="start" #start class="form-control col-sm-6" placeholder="Select Date" type="date">
        </div>
        <div class="form-group row">
            <label for="end" class="col-sm-3 col-form-label text-right">Ending time</label>
            <input id="end" #end class="form-control col-sm-6" placeholder="Select Date" type="date">
        </div>
        <div class="form-group row">
            <label  for="abstract" class="col-sm-3 col-form-label text-right">Abstract deadline</label>
            <input id="abstract" #abstract class="form-control col-sm-6" placeholder="Select Date" type="date">
        </div>
        <div class="form-group row">
            <label for="fullpaper" class="col-sm-3 col-form-label text-right">Full paper deadline</label>
            <input id="fullpaper" #fullpaper class="form-control col-sm-6" placeholder="Select Date" type="date">
        </div>
        <button (click)="goBack()" class="btn btn-outline-danger mt-5">Abort</button>
        <button class="btn btn-outline-success ml-4 mt-5"
                (click)="save(name.value, callForPapers.value, start.value, end.value, abstract.value, fullpaper.value)">Create conference</button>
    </form>

</div>

