<div class="jumbotron">
    <div class="row">
        <div class="col-7">
            <h1 class="text-center text-warning" style="font-size:80px; letter-spacing: 5px;"><em>{{title}}</em></h1>
            <h5 class="text-center text-muted">A conference management system</h5>
        </div>
        <div class="col-5">
            <div class="row">
                <div class="col-5">
                    <button (click)="newConference()" class="btn btn-outline-warning text-dark w-100 mb-5" type="button">Host a new conference</button>
                </div>
                <div class="col-5">
                    <img style="width:1.5vw;" src="../assets/img/right-arrow.png">
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <button (click)="scroll(target)" class="btn btn-outline-warning text-dark w-100">See hosted conferences</button>
                </div>
                <div class="col-5">
                    <img style="width:1.5vw;" src="../assets/img/down-arrow.png">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" #target>
    <h2>Upcoming conferences</h2> <br><br>
    <div *ngFor="let conference of conferences">
        <h4>{{conference.name}}</h4>
        <aside class="text-muted">between {{conference.startingTime.toLocaleDateString()}}
            and {{conference.endingTime.toLocaleDateString()}}</aside>
        <br>
        <div style="white-space: pre-line">{{conference.callForPapers}} </div>
        <div class="row">
            <div class="col-sm-10 pr-n5">
                <hr>
            </div>
            <div class="col-sm-2 ml-n5">
                <button (click)="goDetail(conference.id)" class="btn btn-outline-warning float-right" type="button">See
                    details
                </button>
            </div>
        </div>
        <br><br>

    </div>

</div>
