<!--
<div *ngFor="let author of authors" class="container">

    <div class="card">

        <div class="card-header">
            {{author.username}}, {{author.password | uppercase}}
        </div>
    </div>
</div>
-->

<div class="container row">

    <div  class="col-sm">

        <div class="card-header">
            Register as {{loginType}}
        </div>

        <div class="card-body" >

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">First Name:</label>
                <div class="col-sm-10">
                    <input [(ngModel)]="firstName" class="form-control-plaintext"  type="text" >
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Last Name:</label>
                <div class="col-sm-10">
                    <input [(ngModel)]="lastName" class="form-control-plaintext"  type="text" >
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Email:</label>
                <div class="col-sm-10">
                    <input [(ngModel)]="email" class="form-control-plaintext"  type="text" >
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Username:</label>
                <div class="col-sm-10">
                    <input [(ngModel)]="username" class="form-control-plaintext"  type="text" >
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Password:</label>
                <div class="col-sm-10">
                    <input [(ngModel)]="password" class="form-control-plaintext"  type="text" >
                </div>
            </div>

        </div>

        <button (click)="register()" type="button" class="btn btn-outline-warning text-dark w-100 ">Register</button>


    </div>

    <div  class="col-sm">

        <div class="card-header">
            Login as {{loginType}}
        </div>

        <div class="card-body" >

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Username:</label>
                <div class="col-sm-10">
                    <input [(ngModel)]="loginUsername" class="form-control-plaintext"  type="text" >
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Password:</label>
                <div class="col-sm-10">
                    <input [(ngModel)]="loginPassword" class="form-control-plaintext"  type="text" >
                </div>
            </div>

        </div>

        <button (click)="login()" type="button" class="btn btn-outline-warning text-dark w-100 ">Login</button>


    </div>



</div>
