<div class="container">
    <p style="font-size: 22px;">We at <em>Symposium®</em> believe that when it comes to conferences, the only part about
        them that challenges
        the mind should be coming up with new and eye-catching discoveries. This is why we created our conference
        management system, to make these community events plentiful and reachable to all.
    </p>
    <br><br>
    <p style="font-size: 22px;">But why Symposium?</p>
    In ancient Greece, the <b>symposium</b> (Greek: συμπόσιον symposion or symposio, from συμπίνειν sympinein, "to drink
    together") was a part of a banquet that took place after the meal, when drinking for pleasure was accompanied by
    music, dancing, recitals, or conversation. Literary works that describe or take place at a symposium include two
    Socratic dialogues, Plato's Symposium and Xenophon's Symposium, as well as a number of Greek poems such as the
    elegies of Theognis of Megara. Symposia are depicted in Greek and Etruscan art that shows similar scenes.
    <br><br>
    In modern usage, it has come to mean an academic conference or meeting such as a scientific conference. The
    equivalent of a Greek symposium in Roman society is the Latin convivium.
    <p class="text-right">from <a href="https://en.wikipedia.org/wiki/Symposium">Wikipedia</a>, the free encyclopedia
    </p>
    <br><br>
    <figure>
        <img alt="" src="../assets/img/about.jpg" style="width:64vw; ">
        <figcaption class="text-center">(Plato's Symposium, depiction by Anselm Feuerbach)</figcaption>
    </figure>
</div>
