<div class="container">
  <form id="newauthor">
    <div class="form-group row">
      <label for="firstName" class="col-sm-3 col-form-label text-right">First Name</label>
        <input #firstName type="text" class="form-control col-sm-6" id="firstName">
    </div>
    <div class="form-group row">
      <label for="lastName" class="col-sm-3 col-form-label text-right">Last Name</label>
        <input #lastName type="text" class="form-control col-sm-6" id="lastName">
    </div>
    <div class="form-group row">
      <label for="email" class="col-sm-3 col-form-label text-right">Email</label>
        <input #email type="email" class="form-control col-sm-6" id="email">
    </div>
    <div class="form-group row">
      <label for="username" class="col-sm-3 col-form-label text-right">Username</label>
        <input #username type="text" class="form-control col-sm-6" id="username">
    </div>
    <div class="form-group row">
      <label for="password" class="col-sm-3 col-form-label text-right">Password</label>
        <input #password type="password" class="form-control col-sm-6" id="password">
    </div>
    <button type="reset" class="btn btn-outline-danger">Reset</button>
    <button class="btn btn-outline-success ml-4"
      (click)="save(firstName.value,lastName.value,email.value,username.value,password.value)">Save</button>
  </form>
</div>
