<div
    style="background-image: url(../assets/img/about.jpg); margin-bottom:-8vh; margin-top:-10vh; width: 100%; height:90vh;">
    <div class="container w-25 mt-5">
        <br><br><br><br>
        <form id="login">

            <div class="container form-group text-center ">
                <div class="row">
                    <label class=" col-sm-6 form-control mr-3">Select login type:</label>
                    <select [(ngModel)]="loginType" class=" col-sm-5 form-control ml-2" name="lol">
                        <option [ngValue]="'reviewer'" selected=selected>Reviewer</option>
                        <option [ngValue]="'author'">Author</option>
                        <option [ngValue]="'listener'">Listener</option>
                    </select>
                </div>
            </div>

            <div class="form-group text-center">
                <input #username type="text" class="form-control" id="username" placeholder="username">
            </div>
            <div class="form-group text-center">
                <input #password type="password" class="form-control" id="password" placeholder="password">
            </div>

            <button class="btn btn-warning w-100" (click)="login(username.value,password.value)">LOGIN</button>
        </form>
        <hr>
        <div *ngIf="badLogin==true" class="p-3 mb-2 bg-danger text-white text-center rounded">Invalid username or password</div>

    </div>
</div>
