<div *ngIf="author">
  <h2>Author {{author.firstName}} {{author.lastName}} details</h2>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">First Name</label> {{author.firstName}}
    <div class="col-sm-6">
      <input [(ngModel)]="author.firstName" type="text" class="form-control" placeholder="firstName">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Last Name</label> {{author.lastName}}
    <div class="col-sm-6">
      <input [(ngModel)]="author.lastName" type="text" class="form-control" placeholder="lastName">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Email</label> {{author.email}}
    <div class="col-sm-6">
      <input [(ngModel)]="author.email" type="text" class="form-control" placeholder="email">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Username</label> {{author.username}}
    <div class="col-sm-6">
      <input [(ngModel)]="author.username" type="text" class="form-control" placeholder="username">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Password</label> {{author.password}}
    <div class="col-sm-6">
      <input [(ngModel)]="author.password" type="text" class="form-control" placeholder="password">
    </div>
  </div>
  <button class="btn btn-primary" (click)="goBack()">Back</button>
  <button class="btn btn-primary" (click)="save()">Save</button>
</div>
