<div class="jumbotron" style="margin-top: -10vh;">
    <h1 style="padding-left: 15vw;" class="text-warning"><em>Author registration</em></h1>
</div>
<div class="container" *ngIf="conference">
    <h5 class="mb-5">You are about to register to the <b class="text-warning">{{conference.name}}</b></h5>
    <h6 class="mt-5 mb-3">Please proceed by filling in the fields below.</h6>

    <form id="newauthor">
        <div class="form-group row">
            <label for="firstName" class="col-sm-3 col-form-label text-right">First Name</label>
            <input #firstName type="text" class="form-control col-sm-6" id="firstName">
        </div>
        <div class="form-group row">
            <label for="lastName" class="col-sm-3 col-form-label text-right">Last Name</label>
            <input #lastName type="text" class="form-control col-sm-6" id="lastName">
        </div>
        <div class="form-group row">
            <label for="email" class="col-sm-3 col-form-label text-right">Email</label>
            <input #email type="email" class="form-control col-sm-6" id="email">
        </div>
        <div class="form-group row">
            <label for="username" class="col-sm-3 col-form-label text-right">Username</label>
            <input #username type="text" class="form-control col-sm-6" id="username">
        </div>
        <div class="form-group row">
            <label for="password" class="col-sm-3 col-form-label text-right">Password</label>
            <input #password type="password" class="form-control col-sm-6" id="password">
        </div>

        <h6 class="mt-5">You can upload your proposal only after your account has been validated.</h6>
        <h6 class="mb-4">Just a reminder: the abstract deadline is on {{conference.abstractDeadline.toDateString()}}.</h6>

        <button (click)="goBack()" class="btn btn-outline-danger">Abort</button>
        <button class="btn btn-outline-success ml-4"
                (click)="save(firstName.value,lastName.value,email.value,username.value,password.value)">Register to conference</button>
        <div *ngIf="showRegistered">
            <hr>
            <div class="p-3 mb-2 bg-success text-white text-center rounded">Sucessfully registered</div>

        </div>
    </form>
</div>
