<div class="container" *ngIf="conference">
    <h1 class="text-warning">{{conference.name}}</h1>
    <div class="mt-5" style="white-space: pre-line">{{conference.callForPapers}} </div>

    <h5 class="mt-5">Some important dates:</h5>
    <div class="row mt-4 mb-5">
        <div class="col-3 text-center">
            <img style="width:6vw;" src="../assets/img/abstract.png">
            <div class="mt-3">
                <i>Abstract submission:</i>
                <br>
                {{conference.abstractDeadline.toDateString()}}
            </div>
        </div>
        <div class="col-3 text-center">
            <img style="width:6vw;" src="../assets/img/fullpaper.png">
            <div class="mt-3">
                <i>Full paper submission:</i>
                <br>
                {{conference.fullpaperDeadline.toDateString()}}
            </div>
        </div>
        <div class="col-3 text-center">
            <img style="width:6vw;" src="../assets/img/start.png">
            <div class="mt-3">
                <i>Conference starts:</i>
                <br>
                {{conference.startingTime.toDateString()}}
            </div>
        </div>
        <div class="col-3 text-center">
            <img style="width:6vw;" src="../assets/img/end.png">
            <div class="mt-3">
                <i>Conference ends:</i>
                <br>
                {{conference.endingTime.toDateString()}}
            </div>
        </div>
    </div>

    <h5 class="mt-5 mb-4">Participate:</h5>
    <div class="row">
        <div class="col-4">
            <button class="btn btn-outline-warning text-dark w-100" type="button" (click)="regReviewer(conference.id)">
                Register as Reviewer
            </button>
        </div>
        <div class="col-4">
            <button class="btn btn-outline-warning text-dark w-100" type="button" (click)="regAuthor(conference.id)">
                Register as Author
            </button>
        </div>
        <div class="col-4">
            <button class="btn btn-outline-warning text-dark w-100" type="button" (click)="regListener(conference.id)">
                Attend as Listener
            </button>
        </div>
    </div>
    <hr>
    <div *ngIf="this.conference.id==1&&(this.dataSharing.acceptedProposals.length>0 || this.dataSharing.refusedProposals.length>0)">
        <h5 class="mt-5 mb-4">Accepted papers:</h5>
        <div *ngFor="let proposal of this.dataSharing.acceptedProposals">

            <div class="card">
                <div class="card-header">
                    {{proposal.proposalTitle}}
                </div>
                <div class="card-body">
                    <div class="form-group row mb-0">
                        <label class="col-sm-3 col-form-label">Topics:</label>
                        <label class="col-sm-6 col-form-label">{{proposal.topics}}</label>
                    </div>
                    <div class="form-group row mb-0">
                        <label class="col-sm-3 col-form-label">Authors:</label>
                        <label class="col-sm-6 col-form-label">{{proposal.authors}}</label>
                    </div>
                    <div class="form-group row mb-0">
                        <label class="col-sm-3 col-form-label">Number of participants:</label>
                        <label class="col-sm-6 col-form-label">{{this.dataSharing.proposalAttendance[proposal.id]}}</label>
                    </div>
                </div>
            </div>
            <br><br>
        </div>

        <h5 class="mt-5 mb-4">Refused papers:</h5>
        <div *ngFor="let proposal of this.dataSharing.refusedProposals">

            <div class="card">
                <div class="card-header">
                    {{proposal.proposalTitle}}
                </div>
                <div class="card-body">
                    <div class="form-group row mb-0">
                        <label class="col-sm-3 col-form-label">Topics</label>
                        <label class="col-sm-6 col-form-label">{{proposal.topics}}</label>
                    </div>
                    <div class="form-group row mb-0">
                        <label class="col-sm-3 col-form-label">Authors</label>
                        <label class="col-sm-6 col-form-label">{{proposal.authors}}</label>
                    </div>
                </div>
            </div>
            <br><br>
        </div>
    </div>
</div>
