<div class="jumbotron" style="margin-top: -10vh;">
    <h1 style="padding-left: 15vw;" class="text-warning"><em>Listener registration</em></h1>
</div>
<div class="container" *ngIf="conference">
    <h5 class="mb-5">You are about to register to the <b class="text-warning">{{conference.name}}</b></h5>
    <h6 class="mt-5 mb-3">Please proceed by filling in the fields below.</h6>

    <form id="newlistener">
        <div class="form-group row">
            <label for="firstName" class="col-sm-3 col-form-label text-right">First Name</label>
            <input #firstName type="text" class="form-control col-sm-7" id="firstName">
        </div>
        <div class="form-group row">
            <label for="lastName" class="col-sm-3 col-form-label text-right">Last Name</label>
            <input #lastName type="text" class="form-control col-sm-7" id="lastName">
        </div>
        <div class="form-group row">
            <label for="steeringCommittee" class="col-sm-3 col-form-label text-right">Steering Committee member</label>
            <input type="checkbox" #steeringCommittee class="form-control col-sm-1 ml-n4 w-auto" id="steeringCommittee">
        </div>
        <div class="form-group row">
            <label for="sections" class="col-sm-3 col-form-label text-right">Sections</label>
            <input #sections type="text" class="form-control col-sm-7" id="sections">
        </div>

        <h6 class="mt-5 mb-4">Just a reminder: the conference starts on {{conference.startingTime.toDateString()}}.</h6>

        <button (click)="goBack()" class="btn btn-outline-danger">Abort</button>
        <button class="btn btn-outline-success ml-4"
                (click)="save(firstName.value,lastName.value, steeringCommittee.value, sections.value)">Submit participation</button>
        <div *ngIf="showRegistered">
            <hr>
            <div class="p-3 mb-2 bg-success text-white text-center rounded">Sucessfully registered</div>

        </div>

    </form>
</div>
